
  {% include 'includes/headerSidebar.html'%}
    <main>
      <div class="container">
        <h1 style="padding-top: 25px; padding-bottom: 10px">Главная страница</h1>
        <p style="padding-bottom: 50px">
          {{pageObj.text1}}
        </p>
      </div>
      <img src="{{pageObj.image1.url}}" class="d-block w-100" alt="...">
      <div class="container" style="padding-top: 100px; padding-bottom: 100px">
        <p>
          {{pageObj.text2}}
        </p>
      </div>
      <img src="{{pageObj.image2.url}}" class="d-block w-100" alt="...">
      <div class="container" style="padding-top: 100px; padding-bottom: 100px">
        <p>
          {{pageObj.text3}}
        </p>
      </div>
      <img src="{{pageObj.image3.url}}" class="d-block w-100" alt="...">
      <div class="container" style="padding-top: 100px; padding-bottom: 100px">
        <p>
          {{pageObj.text4}}
        </p>
      </div>

    </main>
  </div>
    {% include 'includes/footer.html'%}
</body>
</html>